/*RESRET.CSS START*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */
:focus {
    outline: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
    -webkit-appearance: none;
    -moz-appearance: none;
}

input[type=search] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */

audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
    display: none;
    height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */

[hidden] {
    display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
    font-size: 100%; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    -ms-text-size-adjust: 100%; /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */

a:focus {
    outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
    outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */

img {
    border: 0; /* 1 */
    -ms-interpolation-mode: bicubic; /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */

figure {
    margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */

form {
    margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */

legend {
    border: 0; /* 1 */
    padding: 0;
    white-space: normal; /* 2 */
    *margin-left: -7px; /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */

button,
input,
select,
textarea {
    font-size: 100%; /* 1 */
    margin: 0; /* 2 */
    vertical-align: baseline; /* 3 */
    *vertical-align: middle; /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

button,
input {
    line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */

button,
select {
    text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button; /* 2 */
    cursor: pointer; /* 3 */
    *overflow: visible;  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
    cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
    *height: 13px; /* 3 */
    *width: 13px; /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box; /* 2 */
    box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */

textarea {
    overflow: auto; /* 1 */
    vertical-align: top; /* 2 */
}

/**
 * Remove most spacing between table cells.
 */

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html,
button,
input,
select,
textarea {
    color: #222;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* RESRET.CSS END */
/* FONTS START */

/*Segoe UI - normal - latin*/
@font-face {
	font-family: 'Segoe UI';
	src: url('../fonts/SegoeUI.eot');
	src: local('Segoe UI'), local('SegoeUI'),
		url('../fonts/SegoeUI.eot?#iefix') format('embedded-opentype'),
		url('../fonts/SegoeUI.woff') format('woff'),
		url('../fonts/SegoeUI.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
/*Segoe UI - SemiBold - latin*/
@font-face {
	font-family: 'Segoe UI';
	src: url('../fonts/SegoeUI-SemiBold.eot');
	src: local('Segoe UI Semibold'), local('SegoeUI-SemiBold'),
		url('../fonts/SegoeUI-SemiBold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/SegoeUI-SemiBold.woff') format('woff'),
		url('../fonts/SegoeUI-SemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}
/*Segoe UI - Bold - latin*/
@font-face {
	font-family: 'Segoe UI';
	src: url('../fonts/SegoeUI-Bold.eot');
	src: local('Segoe UI Bold'), local('SegoeUI-Bold'),
		url('../fonts/SegoeUI-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/SegoeUI-Bold.woff') format('woff'),
		url('../fonts/SegoeUI-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

/* FONTS END */
/* IMPORTANT STYLES START */

html{
    box-sizing: border-box;
}
*,*::before, *::after{
    box-sizing: inherit;
}
body{
    font-family: 'Segoe UI';
    font-weight: 600;
    font-style: normal;
    font-size: 11px;
    line-height: 12px;
    color: #222222;
    background: #F1F2F5;
}
.wrapper{
    max-width: 1440px;
    margin: 0 auto;
}

/* IMPORTANT STYLES END */
/* HEADER STYLES START */

.header{
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.05);
    z-index: 99;
}
.headerLogo{
    background: url(../img/svg/line-after-logo.svg) no-repeat right center;
    width: 60px;
    text-align: center;
}
.headerWrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.headerBurger{
    width: 40px;
    height: 28px;
    position: relative;
    display: none;
}
.burgerLine{
    display: block;
    width: 100%;
    height: 4px;
    background-color: #222222;
    position: absolute;
    left: 0;
}
.burgerLine:nth-child(1){
    top: 0;
}
.burgerLine:nth-child(2){
    top: 50%;
    transform: translateY(-50%);
}
.burgerLine:nth-child(3){
    bottom: 0;
}
.demoConnection{
    padding-left: 15px;
    padding-right: 72px;
    display: flex;
    flex-wrap: wrap;
}
.demoConnection::after{
    content: url(../img/svg/after-el-demo.svg);
    padding-top: 10px;
}
.demoText{
    padding-left: 10px;
    padding-right: 25px;
}
.demoTittle{
    font-size: 14px;
    line-height: 19px;
}
.demoLink{
    font-size: 13px;
    line-height: 20px;
}
.demoIconLink{
    text-decoration: none;
    color: #535353;
}
.headerList{
    display: flex;
    flex-wrap: wrap;
}
.headerItem{
    margin-left: 56px;
}
.headerItem:first-child{
    margin-left: 0px;
}
.headerItem:last-child{
    margin-left: 40px;
}
.headerLink{
    font-size: 14px;
    line-height: 60px;
    text-decoration: none;
    color: #222222;
}
.headerLink:hover, .headerLink:focus, .headerLink:active{
    border-bottom: 3px solid #2A63F5;
    padding-bottom: 19px;
}
.contactIconItem{
    padding-right: 39px;
}
.contactIconItem:first-child{
    padding-right: 24px;
}
.contactIconItem:nth-child(2){
    padding-right: 32px;
}
.tlIconLink{
    background: #0B61FE;
    border-radius: 100px;
    font-size: 14px;
    line-height: 22px;
    padding: 7px 9px;
    text-decoration: none;
    color: #FFFFFF;
}

/* HEADER END */

/*MAIN START*/
/* SIDEBAR START */

.sideBar{
    position: absolute;
    background-color: #FFFFFF;;
    width: 60px;
    text-align: center;
    height: 100%;
    border-right: 1px solid #DEDEDE;
    z-index: 99;
}
.sideBarIconItem{
    padding-top: 31px;
}

/* SIDEBAR END */
/* DASHBOARD START*/

.dashboard{
    margin-left: 60px;
}
.dashboardContainer{
    padding: 20px 32px 40px 27px;
}
.dashboardTittle{
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #212529;
    padding-bottom: 20px;
}
.dateBl{
    display: flex;
    margin-right: 14px;
    background: #FFFFFF;
    color: #212529;
    font-size: 14px;
    line-height: 26px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 6px;
}
.dateIconLink{
    padding-left: 32px;
    padding-right: 9px;
}

.dashboardIntro{
    padding-top: 49px;
    margin-left: 30px;
    margin-right: 18px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: 1px solid #DEDEDE;
}
.topItem{
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    height: 103px;
}
.blockYellow{
    background: #FFB800;
    color: #000000;
}
.blockBlue{
    background: #123CE1;
    color: #FFFFFF;
}
.blockGreen{
    background: #64D60B;
    color: #FFFFFF;
}
.userChurns{
    display: flex;
    flex-wrap: wrap;
}
.userChurnsItem{
    margin-right: 49px;
    border-radius: 2px;
    width: 230px;
}
.userChurnsItem:last-child{
    margin-right: 0;
}
.dashboardMain{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.lines{
    display: flex;
    flex-wrap: wrap;
    border-radius: 2px;
}
.prospects{
    padding: 40px 23px 26px 22px;
    background: #FFFFFF;
    border: 1px solid #ECEDF0;
    box-sizing: border-box;
    border-radius: 2px;
}
.lineOne{
    background: #A8BDFF;
    width: 101.73px;
    height: 30px;
}
.lineTwo{
    background: #4F7AFE;
    width: 120.22px;
    height: 30px;
}
.lineThree{
    background: #123CE1;
    width: 233.05px;
    height: 30px;
}
.prospectsSupportText{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 26px;
}
.supportTextItem{
    padding-right: 72px;
    font-size: 11px;
    line-height: 17px;
}
.supportTextItem:first-child{
    padding-right: 62px;
    padding-left: 5px;
}
.supportTextItem:last-child{
    padding-right: 0;
}
.supportTextItemSecond{
    color: #A8BDFF;
}
.supportTextItemThird{
    color: #4F7AFE;
}
.supportTextItemFourth{
    color: #123CE1;
}
.userIconPicGreen{
    background: url(../img/svg/user-icon-green-deteil.svg) no-repeat center;
}
.userIconLink{
    padding-right: 15px;
    text-decoration: none;
    font-size: 14px;
    line-height: 21px;
}
.topItemText{
    padding-left: 22px;
    padding-top: 11px;
}
.userChurnsMain{
    font-weight: bold;
    font-size: 36px;
    line-height: 26px;
    padding-top: 12px;
}
.bottomItemsText{
    background: rgba(255, 255, 255, 0.2);
    border-radius: 30px;
    padding: 1px 12px 0 13px;
    width: 77px;
}
.bottomItemsBg{
    font-size: 11px;
    line-height: 17px;
    padding-bottom: 11px;
    padding-top: 13px;
    padding-left: 22px;
}

/* DASHBOARD END */
/* GRAPHICS START */

.graphics{
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.graphicItem{
    border-radius: 2px;
    background: #FFFFFF;
}
.topPartGraphic{
    padding-left: 22px;
    padding-bottom: 11px;
    border-bottom: 1px solid #DEDEDE;
    padding-top: 11px;
    font-size: 14px;
    line-height: 21px;
    color: #212529;
    background: #FFFFFF;
}
.bgRow{
    height: 68px;
    border-bottom: 1px solid #ECECEC;
}
.bgRow:last-child{
    height: 67px;
}
.graphicBg{
    padding-bottom: 40px;
    padding-left: 22px;
}
.graficBlock{
    position: relative;
}
.graficPart{
    position: absolute;
    top: 0;
    left: 0;
}
.drawPart{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    margin-top: 28px;
    padding-left: 52px;
}
.indicatorsItems{
    padding-right: 44px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}
.mainIndicator{
    width: 8px;
    background: #123CE1;
}

.firstMainIndicator{
    height: 174px;
}
.firstMainIndicator:after{
    content: "";
    position: absolute;
    width: 8px;
    bottom: 73px;
    height: 1px;
    background: white;
}
.secondaryIndicator{
    background: #4F7AFE;
    margin-left: 12px;
    width: 8px;
}
.firstSecondaryIndicator{
    width: 6px;
    height: 83px;
}
.secondMainIndicator{
    height: 117px;
}
.secondMainIndicator:after{
    content: "";
    position: absolute;
    width: 8px;
    bottom: 80px;
    height: 1px;
    background: white;
}
.secondSecondaryIndicator{
    height: 145px;
}
.secondSecondaryIndicator:after{
    content: "";
    position: absolute;
    width: 8px;
    bottom: 84px;
    height: 1px;
    background: white;
}
.thirdMainIndicator{
    height: 113px;
}
.thirdMainIndicator:after{
    content: "";
    position: absolute;
    width: 8px;
    bottom: 78px;
    height: 1px;
    background: white;
}
.thirdSecondaryIndicator{
    height: 145px;
}
.thirdSecondaryIndicator:after{
    content: "";
    position: absolute;
    width: 8px;
    bottom: 94px;
    height: 1px;
    background: white;
}
.fourMainIndicator{
    height: 113px;
}
.fourMainIndicator:after{
    content: "";
    position: absolute;
    width: 8px;
    bottom: 78px;
    height: 1px;
    background: white;
}
.fourSecondaryIndicator{
    height: 95px;
}
.fourSecondaryIndicator:after{
    content: "";
    position: absolute;
    width: 8px;
    bottom: 69px;
    height: 1px;
    background: white;
}
.indicatorNames{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    font-size: 11px;
    line-height: 12px;
    color: #999999;
}
.firstName{
    padding-left: 34px;
}
.secondName{
    padding-left: 28px;
}
.thirdName{
    padding-left: 45px;
}
.fourName{
    padding-left: 45px;
}
.bottomPartCustomers{
    display: flex;
    flex-wrap: wrap;
}
.graficBlock{
    width: 354px;
}
.namesItem{
    font-size: 11px;
    line-height: 22px;
    color: #999999;
    padding-bottom: 17px;
}
.customerTittle{
    padding-bottom: 11px;
    font-size: 11px;
    line-height: 22px;
}
.namesOfIndicators{
    padding-right: 73px;
}
.customerValue{
    margin-top: 33px;
}
.customerValueItem{
    padding-left: 20px;
    padding-right: 19px;
    background: #DEDEDE;
    border-radius: 30px;
    font-size: 11px;
    line-height: 22px;
    margin-bottom: 18px;
}
.customerGrowth{
    padding-top: 35px;
    padding-left: 86px;
    padding-right: 126px;
    display: flex;
    flex-wrap: wrap;
}

/*Circle graphic*/
  .container {
    width: 100%;
    margin: 0 auto;
    overflow: auto;
}
  .title {
      text-align: center;
      color: #FFA500;
    }
    
  .chart-demo {
    float: left;
    width: 640px;
    border: solid 1px #999;
  }
/*Circle End*/

  .circleIntroPart{
      display: flex;
      flex-wrap: wrap;
      border-radius: 2px;
      background: #FFFFFF;
      padding: 19px 56px 47px 46px;
  }

  .circleTittle{
    font-size: 11px;
    line-height: 12px;
    color: #000000;
    padding-bottom: 13px;
  }
  .circleGrowth{
    padding-right: 91px;
    padding-left: 47px;
  }
  .circleNamesItem{
    color: #999999;
    font-size: 11px;
    line-height: 22px;
    padding-bottom: 9px;
  }
  .circleNamesItem::before{
      display: inline-block;
      content: "";
      width: 16px;
      height: 7px;
      background: #123CE1;
      border-radius: 30px;
      margin-right: 16px;
  }
  .circleNamesItemSecond::before{
      background: #A8BDFF;
  }
  .circleNamesItemThird::before{
    background: #FFB800;
  }
  .circleNamesItemFour::before{
    background: #64D60B;
  }
  .circleNamesItemFive::before{
    background: #FF7ADA;
  }
  .circleValue{
      padding-top: 25px;
  }
  .circleValueItem{
    color: #000000;
    font-size: 11px;
    line-height: 22px;
    padding-bottom: 9px;
  }
  .cirkleIndicators{
      display: flex;
      flex-wrap: wrap;
  }
  /*TABLE*/
.tableWrapper {
    overflow-x: scroll;
}
  table {
  margin-top: 32px;
  table-layout: fixed;
  border-collapse: collapse;
  background: #FFFFFF;
  width: 100%;
}
.userTop{
    text-align: start;
    padding-top: 28px     ;
}
.userLinks{
    display: flex;
    justify-content: space-between;
    padding-right: 30px;
}
thead th:nth-child(1) {
    padding-left: 20px;
    width: 2.93%;
  }
tbody td:nth-child(1){
    padding-left: 20px;
}
tfoot td:nth-child(1){
    padding-left: 20px;
}
  
  thead th:nth-child(2) {
    width: 9.41%;
  }
  
  thead th:nth-child(3) {
    width: 11.9%;
  }
  
  thead th:nth-child(4) {
    width: 10.77%;
  }
  thead th:nth-child(5) {
    width: 12.87%;
  }
  thead th:nth-child(6) {
    width: 9.73%;
  }
  thead th:nth-child(7) {
    width: 10.67%;
  }
  thead th:nth-child(8) {
    width: 17%;
  }
  thead th:nth-child(9) {
    width: 14.6%;
  }
  
  th {
    padding-top: 19px;
    padding-bottom: 19px;
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
    text-align: left;
    border-bottom: 1px solid #DEDEDE;
  }
  td{
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: 14px;
    line-height: 21px;
    border-bottom: 1px solid #DEDEDE;
  }

  /*Media start*/
  @media screen and (max-width:1409px){
   
    .userChurnsItem{
        margin-right: 20px;
    }
    .customerGrowth{
        padding-right: 68px;
    }
  }
  @media screen and (max-width:1360px){
    .userChurnsItem{
        width: 190px;
    }
    .circleGrowth{
        padding-right: 41px;
        padding-left: 27px;
    }
    .namesOfIndicators{
        padding-right: 33px;
    }
  }
  @media screen and (max-width:1250px){
    .customerGrowth{
        padding-right: 58px;
        padding-left: 56px;
    }
    .circleIntroPart{
        padding: 19px 46px 47px 46px;
    }
    .graficBlock{
        width: 338px;
    }
  }
  @media screen and (max-width:1200px){
    .userChurnsItem{
        width: 150px;
    }
    .customerGrowth{
        padding-right: 38px;
        padding-left: 36px;
    }
    .circleIntroPart{
        padding: 19px 26px 47px 26px;
    }
    .graficBlock{
        width: 338px;
    }
  }
  @media screen and (max-width:1120px){
    .userChurnsItem{
        width: 120px;
        margin-right: 10px;
    }
    .userChurnsMain{
        font-size: 26px;
    }
    .customerGrowth{
        padding-right: 18px;
        padding-left: 16px;
    }
    .circleIntroPart{
        padding: 19px 16px 47px 16px;
    }
    .circleMustBeHere{
        width: 118px;
        height: 118px;
    }
  }
  @media screen and (max-width:1024px){
    .lineOne{
        width: 24.51%;
    }
    .lineTwo{
        width: 27.78%;
    }
    .lineThree{
        width: 47.71%;
    }
      .supportTextItem{
        padding-right: 22px;
      }
      .supportTextItem:first-child{
        padding-right: 22px;
      }
      .prospects{
        padding: 40px 43px 26px 42px;
      }
      .drawPart{
        padding-left: 28px;
      }
      .firstName{
        padding-left: 9px;
      }
      .customerGrowth{
        padding-left: 0px;
      }
      .namesOfIndicators{
        padding-right: 13px;
      }
      .circleGrowth{
        padding-right: 11px;
        padding-left: 17px;
      }
      .tableWrapper table{
          width: 730px;
      }

  }
  @media screen and (max-width:947px){
      .headerBurger{
          display: block;
      }
      .headerNav{
          position: fixed;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          background: #FFFFFF;
          z-index: 10;
          padding: 75px;
          transform: translateX(100%);
          transition: .2s all linear;
      }
      .headerNavActive{
        transform: translateX(0);
      }
      .demoConnection{
        padding-right: 15px;
        justify-content: space-between;
      }
      .headerItem{
          width: 100%;
          margin-left: 0;
          margin-bottom: 30px;
      }
      .headerItem:last-child {
        margin-left: 0px;
        margin-bottom: 0;
    }
      .headerLink{
          font-size: 42px;

    }
    .headerNavClose{
        width: 40px;
        height: 40px;
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 11px;
    }
    .headerNavCloseLine{
        display: block;
        height: 2px;
        width: 100%;
        background-color: #222222;
        position: absolute;
        top: 50%; 
    }
    .headerNavCloseLine:first-child{
        transform: translateY(-50%) rotate(45deg);
    }
    .headerNavCloseLine:last-child{
        transform: translateY(-50%) rotate(-45deg);
    }
    .userChurnsItem{
        width: 209px;
    }
    .prospects{
        padding: 40px 39px 26px 42px;
        margin-top: 18px;
        width: 100%;
    }
    .drawPart{
        padding-left: 48px;
    }
    .firstName{
        padding-left: 33px;
    }
    .namesOfIndicators{
        padding-right: 62px;
        padding-left: 45px;
    }
    .customerGrowth{
        padding-right: 27px;
        padding-left: 24px;
    }
    .graphics{
        margin-top: 20px;
    }
    .userChurns{
        width: 100%;
    }
    .userChurnsItem{
        width: 32%;
    }
    .circleMustBeHere{
        width: 158px;
        height: 158px;
    }
    .circleIntroPart{
        padding: 19px 96px 47px 85px;
    }
    .circleGrowth{
        padding-right: 91px;
        padding-left: 97px;
    }
    .circleGraphic{
        width: 100%;
        margin-top: 20px;
    }
    .graphicItem{
        width: 100%;
    }
  }
  @media screen and (max-width:847px){
      .namesOfIndicators{
        padding-right: 12px;
        padding-left: 15px;
      }
      .drawPart{
        padding-left: 18px;
      }
      .customerGrowth{
        padding-right: 16px;
        padding-left: 2px;
      }
      .firstName{
        padding-left: 3px;
      }
      .circleMustBeHere{
        width: 118px;
        height: 118px;
      }
      .circleIntroPart{
        padding: 19px 35px 17px 15px;
      }
  }
  @media screen and (max-width:654px){
      .customerGrowth{
        padding-right: 10px;
      }
      .customerValueItem{
        padding-left: 10px;
        padding-right: 9px;
      }
      .graficBlock{
        width: 240px;
      }
      .bgRow{
        width: 190px;
      }
      .secondName{
        padding-left: 15px;
      }
      .thirdName{
        padding-left: 15px;
      }
      .fourName{
        padding-left: 20px;
      }
      .indicatorsItems{
        padding-right: 24px;
      }
      .bottomPartCustomers{
        padding-left: 25px;
      }
      .userChurnsItem{
        width: 30%;
      }
      @media screen and (max-width:536px){
          .header {
              position: sticky;
              top: 0;
          }
          .headerLogo{
            width: 50px;
          }
          .sideBar{
            position: sticky;
              top: 46px;
              width: 100%;
              display: flex;
              justify-content: center;
              align-items: center;
          }
          .sideBarIconItem {
              padding: 10px;
          }
          .headerBurger {
            width: 28px;
          }
          .demoText{
            display: none;
          }
          .demoIconPic{
            padding-top: 8px;
            padding-bottom: 8px;
            padding-right: 5px;
          }
          .dashboard{
            margin-left: 0;
          }
          .dashboardIntro{
            padding-top: 19px;
            margin-left: 20px;
          }
          .dashboardContainer{
            padding: 20px 20px 40px 20px;
          }
          .dateIconLink{
            padding-left: 9px;
          }
          .dateBl{
            padding-left: 6px;
            padding-right: 6px;
          }
          .dashboardTittle{
            font-size: 18px;
          }
          .userChurnsItem{
            width: 100%;
            margin-right: 0;
            margin-top: 15px;
          }
          .bottomPartCustomers{
            padding-left: 47px;
            padding-bottom: 10px;
          }
          .customerGrowth{
              padding-top: 5px;
          }
          .namesItem{
            padding-bottom: 5px;
          }
          .customerValueItem{
            margin-bottom: 5px;
          }
          .namesOfIndicators{
            padding-right: 62px;
          }
          .circleMustBeHere{
            width: 98px;
            height: 98px;
          }
          .circleGrowth{
            padding-right: 0;
            padding-left: 30px;
          }
          .circleTittle{
            padding-bottom: 7px;
          }
          .circleNamesItemFirst{
            line-height: 12px;
            padding-bottom: 7px;
          }
          .circleValue{
            padding-top: 15px;
          }
          .circleValueItem{
            line-height: 17px;
            padding-bottom: 12px;
          }
          .circleNamesOfIndicators{
            padding-right: 15px;  
          }
      }
      @media screen and (max-width:403px){
          .circleMustBeHere{
            margin-left: 25px;
            margin-bottom: 10px;
            width: 138px;
            height: 138px;
          }
          .circleIntroPart{
            padding: 19px 35px 17px 45px;
          }
          table {
            margin-top: 20px;
          }
          .dashboardTittle{
            padding-bottom: 0;
          }

      }

  }








  /*Media End*/